@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html.dark {
  background-color: #121212;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.scrollbar-thin {
  scrollbar-width: thin
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

html.dark {
  --scrollbar-track: #1f1f1f;
  --scrollbar-thumb: #4a4a4a;
}

html.dark::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

html.dark::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border: 3px solid var(--scrollbar-track);
}

html.dark::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a;
}

html.dark {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.box-shadow-inner-tailwind {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.focus-moblie:active {
  background-color: oklch(0.81 0.1251 216.33 / 0.4);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.dialog {
  background-color: oklch(92.9% 0.013 255.508);
  color: oklch(27.9% 0.041 260.031);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select::selection {
  background-color: oklch(70.4% 0.04 256.788);
  color: oklch(27.9% 0.041 260.031);
}

.select::-moz-selection {
  background-color: oklch(70.4% 0.04 256.788);
  color: oklch(27.9% 0.041 260.031);
}

.select2::selection {
  background-color: oklch(70.8% 0 0);
  color: oklch(43.9% 0 0);
}

.select2::-moz-selection {
  background-color: oklch(70.8% 0 0);
  color: oklch(43.9% 0 0);
}
html.dark
  .box-shadow-inner-tailwind {
  box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
}


.min-custom-screen {
  @apply min-h-[calc(100dvh-121px-166.44px)];
}